body {
    background: #efefef;
}

button {
    padding: 1.5em 5em;
    width:250px;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
        -2px -2px 4px rgba(255, 255, 255, .4),
        2px 2px 2px rgba(255, 255, 255, .05),
        2px 2px 4px rgba(0, 0, 0, .1);
}